# IMPORT IMPORTANT LIBARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

# READ DATASET

In [2]:
dataset1=pd.read_csv('dataset.csv')

In [3]:
dataset1

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             0  230.1   37.8       69.2   22.1
1             1   44.5   39.3       45.1   10.4
2             2   17.2   45.9       69.3    9.3
3             3  151.5   41.3       58.5   18.5
4             4  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         195   38.2    3.7       13.8    7.6
196         196   94.2    4.9        8.1    9.7
197         197  177.0    9.3        6.4   12.8
198         198  283.6   42.0       66.2   25.5
199         199  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

# DROP UNNECESSARY COLUMN

In [4]:
dataset1=dataset1.drop(columns=['Unnamed: 0'])

# DROP NEWSPAPER AND MAKE SALES THE DEPENDENT ATTRIBUTE AND REST ARE INDEPENDENT

In [5]:
X=dataset1.drop(columns=['Sales','Newspaper'])
Y=dataset1['Sales']

In [6]:
X

        TV  Radio
0    230.1   37.8
1     44.5   39.3
2     17.2   45.9
3    151.5   41.3
4    180.8   10.8
..     ...    ...
195   38.2    3.7
196   94.2    4.9
197  177.0    9.3
198  283.6   42.0
199  232.1    8.6

[200 rows x 2 columns]

In [7]:
Y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

# MODEL BUILDING

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=20)

# APPLYING LINEAR REGRESSION

In [9]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
regr.fit(X,Y)

LinearRegression()

In [10]:
print("Intercept value: ",regr.intercept_)
print("Co-efficient value: ",regr.coef_)

Intercept value:  2.9210999124051362
Co-efficient value:  [0.04575482 0.18799423]

In [11]:
X_test

        TV  Radio
150  280.7   13.9
28   248.8   27.1
13    97.5    7.6
178  276.7    2.3
109  255.4   26.9
168  215.4   23.6
177  170.2    7.8
196   94.2    4.9
47   239.9   41.5
195   38.2    3.7
136   25.6   39.0
77   120.5   28.5
187  191.1   28.7
166   17.9   37.6
84   213.5   43.0
175  276.9   48.9
155    4.1   11.6
167  206.8    5.2
121   18.8   21.7
192   17.2    4.1
176  248.4   30.2
113  209.6   20.6
89   109.8   47.8
147  243.2   49.0
185  205.0   45.1
143  104.6    5.7
199  232.1    8.6
126    7.8   38.9
5      8.7   48.9
97   184.9   21.0
34    95.7    1.4
139  184.9   43.9
44    25.1   25.7
72    26.8   33.0
183  287.6   43.0
85   193.2   18.4
149   44.7   25.8
46    89.7    9.9
86    76.3   27.5
112  175.7   15.4

In [12]:
X_train

        TV  Radio
152  197.6   23.3
67   139.3   14.5
133  219.8   33.5
59   210.7   29.5
63   102.7   29.6
..     ...    ...
148   38.0   40.3
137  273.7   28.9
156   93.9   43.5
15   195.4   47.7
99   135.2   41.7

[160 rows x 2 columns]

In [13]:
Y_test

150    16.1
28     18.9
13      9.7
178    11.8
109    19.8
168    17.1
177    11.7
196     9.7
47     23.2
195     7.6
136     9.5
77     14.2
187    17.3
166     8.0
84     21.7
175    27.0
155     3.2
167    12.2
121     7.0
192     5.9
176    20.2
113    15.9
89     16.7
147    25.4
185    22.6
143    10.4
199    13.4
126     6.6
5       7.2
97     15.5
34      9.5
139    20.7
44      8.5
72      8.8
183    26.2
85     15.2
149    10.1
46     10.6
86     12.0
112    14.1
Name: Sales, dtype: float64

In [14]:
Y_train

152    16.6
67     13.4
133    19.6
59     18.4
63     14.0
       ...
148    10.9
137    20.8
156    15.3
15     22.4
99     17.2
Name: Sales, Length: 160, dtype: float64

# PREDICT NEW Y VALUES

In [15]:
Y_pred=regr.predict(X_test)
df1=pd.DataFrame({"Predicted Sales: ":Y_pred})
df1

    Predicted Sales:
0           18.377596
1           19.399541
2            8.810951
3           16.013844
4           19.663924
5           17.213351
6           12.174924
7            8.152375
8           21.699440
9            5.364512
10          11.424198
11          13.792391
12          17.060279
13          10.808694
14          20.773505
15          24.783526
16           5.289428
17          13.360766
18           7.860765
19           4.478859
20          19.964022
21          16.383990
22          16.931103
23          23.260388
24          20.779377
25           8.778621
26          15.157543
27          10.590963
28          12.512084
29          15.329044
30           7.563028
31          19.634112
32           8.900997
33          10.351138
34          24.163936
35          15.220024
36           9.816591
37           8.886450
38          11.582034
39          13.855332

In [16]:
print("Test accuracy: \n",regr.score(X_test,Y_test))
print("Train accuracy: \n",regr.score(X_train,Y_train))

Test accuracy:
 0.9081766714963813
Train accuracy:
 0.8931890709658294

# R2 SCORE OF LINEAR REGRESSION MODEL

In [17]:
from sklearn.metrics import r2_score
print("R2 score : \n",r2_score(Y_test,Y_pred))

R2 score :
 0.9081766714963813

# APPLYING DECISION TREE

In [18]:
from sklearn.tree import DecisionTreeRegressor
tr=DecisionTreeRegressor(random_state=0)
tr.fit(X_train,Y_train)
tr.predict(X_test)

array([15.9, 17.6,  9.6, 12.7, 17.6, 17.4, 12.6,  9.6, 21.8,  8.1,  9.2,
       14. , 18.4,  9.2, 22.3, 25.4,  5.3, 12.2,  6.7,  6.7, 20.2, 17. ,
       14.6, 24.7, 22.3, 10.7, 13.4,  7.3,  7.3, 15.6,  9.6, 21.2,  7.2,
        9.2, 25.4, 14.9, 10.1,  9.6, 11.8, 14.4])

In [19]:
print("Train Accuracy: \n",tr.score(X_train,Y_train))
print("Test Accuracy: \n",tr.score(X_test,Y_test))

Train Accuracy:
 1.0
Test Accuracy:
 0.9778119180118594

# R2 SCORE OF DECISION TREE MODEL

In [20]:
print("R2 score In Decision Tree: \n",r2_score(Y_test,tr.predict(X_test)))

R2 score In Decision Tree:
 0.9778119180118594

# HERE WE CAN SEE THAT DECISON TREE IS MORE EFFECTIVE THAN LINEAR REGRESSION