In [138]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [139]:
dataset1=pd.read_csv('dataset.csv')

In [140]:
dataset1

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             0  230.1   37.8       69.2   22.1
1             1   44.5   39.3       45.1   10.4
2             2   17.2   45.9       69.3    9.3
3             3  151.5   41.3       58.5   18.5
4             4  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         195   38.2    3.7       13.8    7.6
196         196   94.2    4.9        8.1    9.7
197         197  177.0    9.3        6.4   12.8
198         198  283.6   42.0       66.2   25.5
199         199  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [141]:
dataset1=dataset1.drop(columns=['Unnamed: 0'])

In [142]:
# sn.regplot(x='Total_Spending_on_advertise',y='Sales',data=dataset1)
# plt.title("Regplot for Sales and Total Expense on advertise")
# plt.show()

In [143]:
X=dataset1.drop(columns=['Sales','Newspaper'])
Y=dataset1['Sales']

In [144]:
X

        TV  Radio
0    230.1   37.8
1     44.5   39.3
2     17.2   45.9
3    151.5   41.3
4    180.8   10.8
..     ...    ...
195   38.2    3.7
196   94.2    4.9
197  177.0    9.3
198  283.6   42.0
199  232.1    8.6

[200 rows x 2 columns]

In [145]:
Y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [146]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=20)

In [147]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
regr.fit(X,Y)

LinearRegression()

In [148]:
print("Intercept value: ",regr.intercept_)
print("Co-efficient value: ",regr.coef_)

Intercept value:  2.9210999124051362
Co-efficient value:  [0.04575482 0.18799423]

In [149]:
X_test

        TV  Radio
59   210.7   29.5
5      8.7   48.9
20   218.4   27.7
198  283.6   42.0
52   216.4   41.7
19   147.3   23.9
162  188.4   18.1
55   198.9   49.4
69   216.8   43.9
2     17.2   45.9
98   289.7   42.3
10    66.1    5.8
75    16.9   43.7
142  220.5   33.2
124  229.5   32.3
63   102.7   29.6
109  255.4   26.9
78     5.4   29.9
111  241.7   38.0
185  205.0   45.1
154  187.8   21.1
130    0.7   39.6
61   261.3   42.7
87   110.7   40.6
102  280.2   10.1
121   18.8   21.7
136   25.6   39.0
1     44.5   39.3
47   239.9   41.5
172   19.6   20.1
159  131.7   18.4
39   228.0   37.7
76    27.5    1.6
91    28.6    1.5
35   290.7    4.1
178  276.7    2.3
127   80.2    0.0
169  284.3   10.6
46    89.7    9.9
174  222.4    3.4

In [150]:
X_train

        TV  Radio
190   39.5   41.1
7    120.2   19.6
26   142.9   29.3
138   43.0   25.9
58   210.8   49.6
..     ...    ...
113  209.6   20.6
64   131.1   42.8
15   195.4   47.7
125   87.2   11.8
9    199.8    2.6

[160 rows x 2 columns]

In [151]:
Y_test

59     18.4
5       7.2
20     18.0
198    25.5
52     22.6
19     14.6
162    14.9
55     23.7
69     22.3
2       9.3
98     25.4
10      8.6
75      8.7
142    20.1
124    19.7
63     14.0
109    19.8
78      5.3
111    21.8
185    22.6
154    15.6
130     1.6
61     24.2
87     16.0
102    14.8
121     7.0
136     9.5
1      10.4
47     23.2
172     7.6
159    12.9
39     21.5
76      6.9
91      7.3
35     12.8
178    11.8
127     8.8
169    15.0
46     10.6
174    11.5
Name: Sales, dtype: float64

In [152]:
Y_train

190    10.8
7      13.2
26     15.0
138     9.6
58     23.8
       ...
113    15.9
64     18.0
15     22.4
125    10.6
9      10.6
Name: Sales, Length: 160, dtype: float64

In [153]:
Y_pred=regr.predict(X_test)
df1=pd.DataFrame({"Predicted Sales: ":Y_pred})
df1

    Predicted Sales:
0           18.107469
1           12.512084
2           18.121392
3           23.792923
4           20.661801
5           14.153846
6           14.944003
7           21.308647
8           21.093690
9           12.337018
10          24.128426
11           7.035860
12          11.909704
13          19.251445
14          19.494043
15          13.184749
16          19.663924
17           8.789203
18          21.123819
19          20.779377
20          15.480532
21          10.397700
22          22.904187
23          15.618724
24          17.640341
25           7.860765
26          11.424198
27          12.345362
28          21.699440
29           7.596578
30          12.406103
31          20.440580
32           4.480148
33           4.511679
34          16.992801
35          16.013844
36           6.590636
37          17.921933
38           8.886450
39          13.736151

In [154]:
print("Test accuracy: \n",regr.score(X_test,Y_test))
print("Train accuracy: \n",regr.score(X_train,Y_train))

Test accuracy:
 0.8447042383736406
Train accuracy:
 0.9191215988717713

In [155]:
from sklearn.metrics import r2_score
print("R2 score : \n",r2_score(Y_test,Y_pred))

R2 score :
 0.8447042383736406

In [156]:
from sklearn.tree import DecisionTreeRegressor
tr=DecisionTreeRegressor(random_state=0)
tr.fit(X_train,Y_train)
tr.predict(X_test)

array([19.4,  6.6, 19.4, 26.2, 21.7, 14.9, 14.4, 22.4, 21.7,  6.6, 26.2,
        9.3,  6.6, 19.6, 20.7, 12.9, 17.6,  3.2, 22.1, 20.7, 15.5,  3.2,
       25.4, 12.9, 13.4,  8. ,  9.2, 10.8, 21.7,  6.6, 13.2, 22.1,  8.1,
        8.1, 12.7, 12.7,  8.7, 13.4,  9.7, 11.7])

In [157]:
print("Train Accuracy: \n",tr.score(X_train,Y_train))
print("Test Accuracy: \n",tr.score(X_test,Y_test))

Train Accuracy:
 1.0
Test Accuracy:
 0.9618546561045219

In [158]:
print("R2 score In Decision Tree: \n",r2_score(Y_test,tr.predict(X_test)))

R2 score In Decision Tree:
 0.9618546561045219

In [159]:
# a1=np.array(dataset1['Sales'])
# a2=np.array(dataset1['Total_Spending_on_advertise'])

In [160]:
# def sales_price(val):
#     a1=np.array(dataset1['Sales'])
#     a2=np.array(dataset1['Total_Spending_on_advertise'])
#     for i in range(len(a2)):
#         if a2[i]==val:
#             print("Sales price is: ",a1[i])

In [161]:
# # Take a new value to predict
# new_advertise_cost=450.6
# print("Predicted sales price: \n",regr.predict([[new_advertise_cost]]))

In [162]:
# import statsmodels.api as sm

In [163]:
# X = sm.add_constant(X)   

# model = sm.OLS(Y, X).fit()  

# print_model = model.summary() 
# print(print_model)

In [164]:
# print(regr.predict(230.1,5.0,37.2))